@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    font-family: "Montserrat", sans-serif;
    /* font-family: 'Fraunces', serif; */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    background: var(--cream);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.right img {
    width: 100%;
    max-height: 20em;
    content: url("./images/image-product-mobile.jpg");
    object-fit: cover;
}

.left {
    padding: 1.2em;
    max-width: 25em;
    margin: auto;
}

h2 {
    letter-spacing: 0.2em;
    font-weight: 500;
    font-size: 0.8em;
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
}

h1 {
    color: var(--very-dark-blue);
    font-weight: 700;
    font-size: 2.3em;
    font-family: "Fraunces", serif;
    padding-top: 0.2em;
    padding-right: 2em;
}

.desc {
    padding-top: 0.4em;
    font-size: 1.1em;
    padding-right: 1em;
    line-height: 1.5em;
    color: var(--dark-grayish-blue);
}

.price {
    display: flex;
    padding-top: 1.5em;
    align-items: center;
}

.new {
    color: var(--dark-cyan);
    font-weight: 700;
    font-family: "Fraunces", serif;

    font-size: 2em;
}

.old {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    padding-left: 1em;
}

button {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--white);
    background: var(--dark-cyan);
    border: 0;
    border-radius: 10px;
    font-weight: 600;

    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 1em;
}

button:hover {
    background: hwb(158 24% 60%);
}

button img {
    width: 1.5em;
    padding-right: 0.5em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.attribution {
    padding-top: 1em;
}

main {
    max-width: 25em;
}
@media screen and (min-width: 1000px) {
    main {
        flex-direction: row;
        max-width: 38em;
    }

    .right img {
        height: 100%;
        max-height: fit-content;
        content: url("./images/image-product-desktop.jpg");
    }
    
    .left {
        max-width: 20em;
    }
}
